.container {
    margin-top: 10rem;
    justify-content: center;
  }
  
  .form{
    
}
  form input[name="city"],
  form input[name="country"] {
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 2px solid whitesmoke;
    border-radius: 0;
  }